h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    margin:0px;
}


body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
    text-align: justify;

}

.kontakty img{
    margin: 5px;
}

.paticka{
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #c0c0c0;
    margin-top: 100px;

}

h3{
    border-bottom: 2px solid #c0c0c0;
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}


a{
    color: #e81c4f;
}

.fa-linkedin-square, .fa-medium{
    font-size: 20px;
    color: black;
    margin: 5px;
}


.material-icons{
    margin: 5px;
    
}

.kontakty table {
    width: 100%;
    margin: 10px auto 10px auto;
    border-spacing: 0;
       
}

.kanclprogramy{
    width: 100%;
    border-spacing: 0;
    margin-bottom: 40px;
    
}

td {
    text-align: center;
    padding: 3px;
    font-size: 12px;
    margin:0;
}

.kanclprogramy td {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    margin:auto;
    width:15%;
    font-style:italic;
}

.kanclprogramy th{
    text-align:center;
    font-size: 14px;   
}


.phone {
    text-align: left;
    font-weight: bold;
    width: 25%;
}

.medium {
    text-align:center;
    width: 25%;
    
}

.email {
    text-align: center;
}

.mojefoto{
    width: 120px;
    border-radius: 50%;
}

.obrazek {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section img {
    margin: 2px;
}


/* 
- zkusit barevne nastylovat stranku
- vylepsit tabulku se znalostmi a dovednostmi - chybi power bi, snowflake a ridicak 
- poresit paticku, kontakty a menu 
*/